html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, img, date, ol, ul, li, form, label, article, aside, footer, header, menu, nav, section, time, button, input {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
  font-family: Open Sans;
  font-style: regular;
  font-weight: 400;
  src: url(/fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: Open Sans;
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/OpenSans-Bold.woff);
}

body {
  background-color: #fff;
  font-family: Open Sans, Arial, sans-serif;
}

/* header */

.header {
    background-color: #000000;
    background-image: url(/mq-diploma/images/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 32px;
    position: relative;
    z-index: 0;
  }

.menu-btn {
  display: none;
}

.menu-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 32px;
  right: 16px;
  width: 23px;
  height: 19px;
  z-index: 3;
  cursor: pointer;
}

.menu-btn-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.menu {
  display: none;
}

/* 
  .header::after {
    content: "";
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.55;
    z-index: -1;
  } */








@media (min-width: 361px) and (max-width: 1199px) {
  
  .header {
    background-image: url(/images/banner-bg-tablet.jpg);
  }

  .menu-label {
    top: 53px;
    right: 35px;
  }

}

@media (min-width: 1200px) {

  .header {
    background-image: url(/images/banner-bg.jpg);
  }

  .menu-label {
    display: none;
  }

}